#rx-config {
  .ql-toolbar,
  .ql-container {
    font-family: inherit;
  }

  .ql-toolbar {
    background: var(--color-lightGrey);
    border-color: var(--color-lightGrey);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    .ql-picker-item:hover,
    .ql-picker-label:hover,
    button:hover {
      color: var(--color-primary);
    }
    .ql-picker-label:hover .ql-stroke,
    button:hover .ql-stroke {
      stroke: var(--color-primary);
    }
  }
  .ql-container {
    border-color: var(--color-lightGrey);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
