@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#rx-config {
  --border-radius: 5px;
  --color-primary: #111e50;
  --color-lightGrey: #eee;
  --color-dark: #000000

  font-family: 'Lato', sans-serif;

  .accordion-button:not(.collapsed) {
    color: var(--color-dark);
    background-color: var(--color-lightGrey);
    font-weight: bold;
  }
  .accordion-button:focus{
    box-shadow: none;
  }
}
